.categories-nav {
  height: 20%;
  position: absolute;
  bottom: 20px;
  background: var(--contrast);
  width: 100%;
  padding-top: 5px;
}

.categories-nav-list {
  height: 95%;
}

.categories-nav-list * {
  height: 100%;
}

.categories-nav > .custom-slider-controls {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.categories-nav:hover > .custom-slider-controls {
  opacity: 1;
}
