.category-card {
  position: relative;
  border-radius: 10px;
  border: none;
  display: block;
  outline: none;
  cursor: pointer;
  padding: 0;
  background-color: black;
  width: 100%;
}

.category-card:hover > .anime-thumbnail-img {
  opacity: 0.6;
}

.anime-thumbnail-img {
  height: 100%;
  width: 100%;
  transition: opacity 0.4s ease-out;
  border-radius: 10px;
}

.category-card-highlight {
  opacity: 1 !important;
  border: 2px var(--secondary) solid;
}

.category-card-normal {
  opacity: 0.6;
}

.anime-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: fit-content;
  background-color: rgba(20, 20, 20, 0.8);
  color: var(--primary);
  font-size: 1.2rem;
  padding: 10px;
}
