.video-category-section {
  height: calc(3.2rem + 1.2 * 250px);
  position: relative;
  background: none;
  margin-bottom: 5rem;
  margin-left: 5vw;
  margin-right: 5vw;
  overflow: hidden;
}

.category-title {
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: -2.5rem;
  color: var(--grayLight);
  user-select: none;
  z-index: 4;
}

.scroll-carousel {
  overflow-x: scroll;
  overflow-y: hidden;
}

.category-videos-list {
  display: flex;
  z-index: 3;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  background-color: none;
  list-style: none;
  gap: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.category-videos-list > *:first-child {
  border-left: 2vw solid transparent;
}
.category-videos-list > *:last-child {
  border-right: 2vw solid transparent;
}

@media (max-width: 720px) {
  .video-category-section {
    height: calc(3.2rem + 1.2 * 240px);
    padding-right: 0;
    padding-left: 0;
  }
  .category-title {
    text-align: center;
    width: fit-content;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -8px;
    left: 0;
    right: 0;
  }
  .video-category-section:first-child {
    margin-top: 3rem;
  }
}
