.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.content-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.close-modal-button {
  width: fit-content;
  position: relative;
  margin-left: auto;
  background: none;
  color: var(--primary);
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.4s ease-out;
  padding: 0;
}

.close-modal-button:hover {
  opacity: 0.8;
}
