.category-list-wrapper {
  display: flex;
  height: fit-content;
  max-width: 900px;
  width: 100%;
  padding: 0;
  border-radius: 10px;
}

.category-list {
  height: 60vh;
  width: 100%;
  list-style: none;
  padding: 20px;
  gap: 0;
  margin: 0;
  overflow-y: auto;
  background-color: var(--secondary);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  list-style-position: inside;
}
