* {
  box-sizing: border-box;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--contrast);
}

:root {
  --primary: #fefbfa;
  --secondary: #f282ad;
  --contrast: rgb(20, 20, 20);
  --contrastLight: #9e9e9e;
  --grayLight: #e2e5e2;
  --grayMedium: #dadada;
  --light: #eeeeee;
  --headerHeight: 56px;
  --footerHeight: 96px;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: var(--light);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border: none;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--contrast);
  font-size: 12px;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.no-opacity {
  display: hidden;
  opacity: 0;
}

.section-margin-top {
  margin-top: 4rem;
}
